@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
	width: 0%;
}

@font-face {
	src: url("../font/ekselldisplay-large-webfont.woff2");
	font-family: ekselldisplayLarge;
}

@font-face {
	src: url("../font/ekselldisplay-small-webfont.woff2");
	font-family: ekselldisplaySmall;
}

@font-face {
	src: url("../font/silka-regular-webfont.woff2");
	font-family: silkaRegular;
}

@font-face {
	src: url("../font/silka_bold-webfont.woff2");
	font-family: silkaBold;
}

@layer utilities {
	.padding-x {
		@apply px-[80px];
	}
}
